* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}



header {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0  10px 20px #b10000;
}

header .logo {
    font-size: 20px;
    font-weight: 900;
    color: #000;
    transition: .5s;
}

header .logo:hover {
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left
}

header nav ul li a {
    padding: 15px;
    color: #000;
    font-size: 16px;
    display: block;
}

header nav ul li a:hover {
    background: #000;
    color:#fff;
}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: #fff;
    display: none;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}

nav ul li ul li ul {
    left: 180px;
    top: 0;
}

nav ul li:hover > ul {
    display: initial;
}

.navigation {
    background: #b10000;
    color:#fff;
    font-weight: bolder;
}

.wrapper {
    width: 90%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.featured-news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 16px;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#container {
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 #b10000;
    transition: 0.3s;
    margin: 20px;
    border-radius: 10px;
    container-type: inline-size;
}

.card:hover {
    box-shadow: -15px 20px 16px 0 #b10000;
}

.card-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 3%;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 16px;
    margin-bottom: 10px;
}

.card-link {
    display: flex;
    justify-content: center;
    background-color: #b10000;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 3%;
}

@container (min-width: 600px) {
    .card-text {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.blockquote-6 {
    border-left: 6px solid #ffbfca;
    font-size: 16px;
    font-style: italic;
    margin: 16px;
    padding: 16px 24px;
    position: relative;
}
.blockquote-6:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -6px;
    height: 40px;
    background-color: #fff;
    width: 6px;
    margin-top: -1em;
}
.blockquote-6:after {
    content: "â€";
    position: absolute;
    top: 50%;
    left: -20px;
    color: #b10000;
    font-size: 50px;
    font-family: Times, sans-serif;
    font-weight: bold;
    line-height: 30px;    
}
.blockquote-6 cite {
    color: #b10000;
    font-size: 15px;
    padding-top: 10px;
    display: block;
    text-align: right;
}

.hover-effect-scale {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
}
.hover-effect-scale li {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    border: 5px solid #fff;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.hover-effect-scale li h3{
    color: #fff;
    margin: 5px;
}
.hover-effect-scale li p{
    color: #fff;
    margin: 5px;
}
.hover-effect-scale li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    background: #000;
    border-radius: 5px;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}
.hover-effect-scale li a:hover {
    background: #454545;
    color: #fff;
}

.hover-effect-scale li > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hover-effect-scale li:hover > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.hover-effect-scale li div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.35); 
    transition: all 0.4s ease-in-out;
    color: #fff;
}
.hover-effect-scale li img {
    transition: all 0.2s linear;
}
.hover-effect-scale li:hover img {
    transform: scale(1.3);
}
.hover-effect-scale li:hover div {
    opacity: 1;
}
     